@model IEnumerable<Library.Models.tur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<input type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" value="Kitap Türü Ekle" onclick="location.href='@Url.Action("Create", "Tur" )'" />
<br />
<br />
<table class="table">
    <tr class="table-success">
        <th>
            @Html.DisplayNameFor(model => model.tur_adi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.tur_adi)
            </td>
            <td>
                <input type="button" class="btn btn-success btn-rounded" value="Duzenle" onclick="location.href='@Url.Action("Edit", "Tur" , new { id = item.tur_id })'" />
                <input type="button" class="btn btn-danger btn-rounded" value="Sil" onclick="location.href='@Url.Action("Delete", "Tur" , new { id = item.tur_id })'" />
            </td>
        </tr>
    }

</table>
